.chat-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.chat-header {
    font-size: 20px;
    color: rgb(47, 46, 46);
    margin: 0;
}
.chat-details {
    font-size: 18px;
    color: gray;
    font-weight: 500;
    margin-bottom: 18px;
    margin-top: 7px;
}
.chat-header-group {
    display: flex;
    align-items: center;
}
.grp-count {
    font-size: 18px;
    color: gray;
    font-weight: 500;
    margin-right: 20px;
}
